<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductsServlet</servlet-name>
        <servlet-class>controller.ViewProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activationServlet</servlet-name>
        <servlet-class>controller.activationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterController</servlet-name>
        <servlet-class>controller.AdminRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductServlet</servlet-name>
        <servlet-class>controller.ManageProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductsServlet</servlet-name>
        <url-pattern>/ViewProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activationServlet</servlet-name>
        <url-pattern>/activationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterController</servlet-name>
        <url-pattern>/AdminRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductServlet</servlet-name>
        <url-pattern>/ManageProductServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
